{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - смена пароля {% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Ваш пароль был успешно изменен!" %}

{% trans "С уважением," %}

{% blocktrans %}Команда {{ site_name }} {% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Ваш пароль для Платформы был успешно изменен" %}</p>

<p>{% trans "С уважением," %}</p>

<p>{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
