{% load i18n %}

{% block subject %}
{% blocktrans %}Восстановление пароля к {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это письмо, потому что был осуществлен запрос смены пароля для Вашего аккаунта в {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, пройдите по ссылке для ввода нового пароля:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
{% trans "Напоминаем, Ваш юзернейм:" %} {{ user.get_username }}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endblock text_body %}
